body {
  background: #0b0b0b;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 30px;
}

input, button {
  padding: 10px;
  margin: 10px;
}

button {
  background: #00ffaa;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

img {
  margin-top: 15px;
  border-radius: 10px;
}
